{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurants</title>
    <link href="{% static '/assets/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="styles.css"> -->
  </head>
  <body>

    <nav class="navbar navbar-expand-lg" style="background-color: #F8EFEA;">
      <div class="container">
        <a class="navbar-brand" href="#">Restaurants</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li> -->
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li> -->
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Not sure what you're looking for? Pick a category!</h1>
          <p class="lead text-body-secondary">
            {% for tag in all_tags %} 
              <a href="{% url 'tag-search' %}?category={{tag}} "><button type="button" class="btn btn-primary my-1">{{tag}}</button></a>
            {% endfor %}
          </p>
          <p>
            <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Tags
              </a>
            
              <ul class="dropdown-menu">
                {% for tag in all_tags %}
                  <li><a class="dropdown-item" href="{% url 'tag-search' %}?category={{tag}}">{{tag}}</a></li>
                {% endfor %}
              </ul>
            </div>
          </p>
        </div>
      </div>
    </section>

    <h2>Some recommendations in the area!</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
      {% for restaurant in restaurants %}
      <div class="col">
          <div class="card shadow-sm">
          <img class="bd-placeholder-img card-img-top" src="{{restaurant.image_url}}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/></img>
          <div class="card-body">
              <h4>{{restaurant.name}}</h4>
              {% if object.comment_set.all %}
                {% for comment in object.comment_set.all %}
                    <p class="card-text">{{comment.text}}</p>
                {% endfor %}
              {% else %}
                
                <p class="card-text">No reviews yet</p>
              {% endif %}
              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                      <a href="{{ restaurant.get_absolute_url }}" class="btn btn-sm btn-outline-primary">View</a>
                      <!-- <button type="button" class="btn btn-sm btn-outline-primary">Edit</button> -->
                  </div>
                  <!-- <small class="text-body-secondary">9 mins</small> -->
              </div>
          </div>
          </div>
      </div>
      {% endfor %}
    </div>

    <script src="{% static '/assets/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/assets/custom.js' %}"></script>
  </body>
</html>